*{
    color: white;
    text-decoration: none;
}
body{
    background-image:url(background.jpg);
    font-family:url(NetflixSans-Regular.otf), "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
   

}
h1{
    color:#e50914;
    font-size: 16px;
    
    font-weight: 900;
}

.nav{
    margin-top: 1.25rem;
    position: relative;
    width: inherit;
    margin-left: 1.25rem;
    margin-right:1.25rem ;
    margin-bottom: 1.25rem;
}
#logo{
    
    margin-left: 170px;
}
#option{
    margin-right: 190px;
    margin-top: 10px;
}
#option select{
    background-color: black;
    height: 32px;
    width:100px;
    border-radius:5px;
    padding:px;
    text-align: center;
    font-weight: 600;
    
}
#option button{
    background-color: #E50914;
    border-width: 0px;
    border-radius: 5px;
    height: 32px;
    width:70px;
    font-size:15px;
    font-weight:600;
    margin-left:15px;
    text-align:center;   
}
.content{
    align-items: center;
    text-align: center;
    color:white;
    padding-top:200px;
    padding: 200px;
    height: auto;
    width: ;
    flex-basis: 50%;
    width: 100%;
    z-index: 1;
    border: 870*238;
}
.content #h1{
    color:white;
    font-size: 48px;
    font-weight:900;
}
.content p{
    font-size: 24px;
    font-weight: 400;
}
form{
    border: 806*102;
}
.content form h3{
    font-size: 1.25rem;
    font-weight: 400;
    
   
    
    
}
.content input{
    width: 350px;
    height: 50px;
    border: 369*56;
    font-size: 24px;
    padding: 24px 16px 24px 8px;
    background-color: rgba(22, 21, 21, 0.824);
    font-family:url(NetflixSans-Regular.otf), "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
.content button{
    width: 250px;
    border: 250*56;
    height: 50px;
    font-size: 16px;
    background-color: #E50914;
    
}
button{
    font-family:url(NetflixSans-Regular.otf), "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}